#browsercast {
	position: absolute;
	top: 5px; left: 5px;
	width: 100%;
}

#browsercast-audio {
	width: 100%;
	margin: auto auto;
}

#markers {
	width: 80%;
	height: 10px;
	position: relative;
	display:inline-block;
}

.cue {
	float: left;
	height: 10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-right: solid 2px #000;
	cursor: pointer;
}

button {
	border: none;
	width: 24px;
	height: 24px;
	display:inline-block;
}

.play {
	background:url('./img/play.png') no-repeat;
}

.pause {
	background:url('./img/pause.png') no-repeat;
}

.mute {
	background:url('./img/mute.png') no-repeat;
}

.unmute {
	background:url('./img/unmute.png') no-repeat;
}

#volume-bar {
	width: 30px;
	display:inline-block;
}

#time {
	width: 60px;
	font-size: 0.9em;
	text-align: center;
	color: #fff;
	display:inline-block;
}
